<header class='top-page-header'>
  <div class='search-bar-contents'>
	  <%= link_to image_tag("https://drive.google.com/file/d/1mEUpGNcJGyHtVFGgcHN5L7HxEEY5Ob09/view?usp=sharing", class:"wegrow-icon"), "/" %>
	</div>
</header>